<div class="container-summary">

    <app-modal></app-modal>

    <div class="summary">
    <h1>Resumo</h1>
    <button>Novo Orçamento</button>

    </div>

    <div class="box-container">
        <div class="box">
            <h1 style="color: blue;">Ordem</h1>
            <p class="total">Total</p>
            <p class="semana">Ultima Semana</p>
        </div>

        <div class="box">
            <h1 style="color: orange;">Fechadas</h1>
            <p class="total">Total</p>
            <p class="semana">Ultima Semana</p>
        </div>

        <div class="box">
            <h1 style="color: red;">Em Processo</h1>
            <p class="total">Total</p>                
            <p class="semana">Ultima Semana</p>
        </div>

    </div>



</div>
