.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-left: 25px;
    }

    button{
        height: 40px;
        width: 180px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        background-color: blue;
        color: white;
        cursor: pointer;
        margin-right: 25px;
    }
}

.box-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
    
}

.box {
    position: relative;
    background-color: white;
    height: 150px;
    width: 320px;
    border-radius: 6px;

    h1{
        margin-left: 20px;
    }

    .total {
        position: absolute;
        left: 20px;
        bottom: 15px;
    }

    .semana {
        position: absolute;
        right: 20px;
        bottom: 15px;
    }
    
}