<div class="container-summary">

    <div class="summary">
    <h1>Resumo</h1>
    <button>Add Orçamento</button>

    </div>

    <div class="box-container">
        <div class="box">
            <h1>Ordem</h1>
            <p class="total">Total</p>
            <p class="semana">Ultima Semana</p>
        </div>

        <div class="box">
            <h1>Ordem</h1>
            <p class="total">Total</p>
            <p class="semana">Ultima Semana</p>
        </div>

        <div class="box">
            <h1>Ordem</h1>
            <p class="total">Total</p>                
            <p class="semana">Ultima Semana</p>
        </div>

    </div>



</div>
