.form {
  position: relative;
  width: 50%;

}

.form-control {
  width: 100%; /* Faz o campo de input ocupar toda a largura */
  max-width: 300px; /* Limita a largura máxima */
  padding: 20px;
}

img {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 25px;
  height: 25px;
}

.calendar {
  max-width: 25px;
  max-height: 30px;
  position: absolute;
  right: 10px;
  bottom: 20px;
  opacity: 0;
  z-index: 1;
}