.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 0px 20px;
}

.title {
    position: fixed;
    display: flex;
    color: white;
    z-index: 1;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;


    h1 {
        color: white;
    }

    img {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 20px;
        top: 20px;
        cursor: pointer;
    }
}

.search {
    position: relative;
    text-align: start;
    width: 100%;
    margin-top: 50px;

    input {
        cursor:auto;
        border: none;
        background-color: white;
        color: var(--prymary-color);
        border-radius: 12px;
        padding: 15px 10px;
        width: 100%;
        margin-top: 5px;

    }

    img {
        position: absolute;
        right: 2%;
        top: 70%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.btn {
    background-color: var(--prymary-color);
    display: flex;
    border: none;
    color: white;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
    }
}

table {
    margin-top: 30px;
}

.table > thead > tr:nth-child(2n+1)>th{
    color: white;
    background-color: var(--prymary-color);

}

.cadastro {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 100px;
    
    button {
        width: 50%;
    }

    img {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
