<app-header></app-header>

<div class="container">

    <div class="title">

        <img (click)="goToOrder()" src="assets/left-white.png" style="cursor: pointer;">
        <h1>Lista de Serviços</h1>
    
    </div>

    

    <div class="search">
        <h1>Consultar Serviços</h1>
        <input type="search" name="" value="Digite para buscar um serviço">
        <img src="assets/lupa.png" alt="">
        
    </div>

    <table class="table"> 
        <thead>
            <tr>
                <th>Número</th>
                <th>Serviço</th>
                <th>Qtd Rodas</th>
                <th>Preço</th>
                <th>Selecionar</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let s of services; index as i">
                <td>{{i + 1}}</td>
                <td>{{s.servico}}</td>
                <td>{{s.detalhe}}</td>
                <td>{{s.preco}}</td>
                <td><button class="btn">Selecionar</button></td>

            </tr>
        </tbody>
    </table>

    <div class="cadastro">
        <img src="assets/caixa.png" style="width: 90px; height: 80px;">

        <button class="btn" (click)="addService()"> Adicionar Novo Serviço </button>

    </div>
</div>

<app-footer></app-footer>



