.footer {
    background-color: var(--prymary-color);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 5px 50px 0px 50px;
    margin-bottom: -15px;
    
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;

        li {
            cursor: pointer;
        }

        img {
            width: 20px;
            height: 20px;
        }
      }
  }
