<!-- Seção com cards -->
<section>
    <div class="card-container">
        <h1>Orçamentos</h1>
        <!-- Card 1 -->
        <div class="card1">
            <img src="assets/order-white.png" alt="">

            <div>
                <h3>Criar um novo orçamento</h3>
                <p>Orçamento, OS, Venda, Atendimento etc.</p>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card2">
            <img src="assets/client-white.png" alt="">

            <div>
            <h3>Novo Cliente</h3>
            <p></p>
            </div>
        </div>

    </div>
</section>


<div class="img-relogio">
    <img  src="assets/relogio.png" alt="">

    <div class="text-relodio">
        <p style="font-weight: bold;">Lista de Orçamentos</p>
        <p>Você ainda não tem orçamentos <br>cadastrados</p>
    </div>
</div>


