.back {
    cursor: pointer;
    margin: 20px;
}

.title {
    position: fixed;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;

    h1 {
        color: white;
        z-index: 2;
    }

    img {
        position: fixed;
        width: 20px;
        height: 20px;
        cursor: pointer;
        left: 10px;
    }
}

.space {
    margin-top: 120px;
}

.form {
    margin: 50px 40px;

    .title {
        margin-bottom: 40px;
    }
}

.servico {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}

.detalhes {
    margin-top: 20px;
    padding: 30px 10px;
    width: 100%;
}

.preco {
    margin: 20px 0px;
    padding: 20px;
}

.btn-salvar {
    width: 50%;
    display: flex;
    padding: 10px 0px;
    border-radius: 10px;
    border: none;
    color: white;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px auto 80px auto;
    margin-bottom: 80px;

    img {
        width: 20px;
        height: 20px;
    }
}