<app-header></app-header>

<div class="title">
    
    <img (click)="goToService()" src="assets/left-white.png" style="cursor: pointer;">

    <h1> Adicionar Novo Serviço</h1>

</div>

<form class="form">

    <h1 class="title-form">Novo Serviço</h1>

    <input placeholder="Qual o Serviço?" class="servico" type="text" name="servico" [(ngModel)]="service.servico" >
    <input placeholder="Detalhes do serviço" class="detalhes" type="text" name="detalhe" [(ngModel)]="service.detalhe" >
    <input placeholder="Preço" class="preco" type="value" name="preco" [(ngModel)]="service.preco" >

</form>

<button class="btn-salvar" (click)="postService()"><img src="assets/sum.png" alt="">Salvar</button>

<app-footer></app-footer>
