.container {
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
    width: 100%;
    margin-top: 50px;
}

.title {
    position: absolute;
    display: flex;
    color: white;
    z-index: 1;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;


    h1 {
        color: white;
    }

    img {
        position: fixed;
        width: 20px;
        height: 20px;
        cursor: pointer;
        left: 10px;
        top: 20px;
    }
}

.btn {
    border: none;
    background-color: white;
    display: flex;
    width: 100%;
    padding:20px 20px;
    text-align: start;
    align-items: center;
    gap: 10px;

    img {
        width: 18px;
        height: 18px;
    }
}

.observacoes {
    border-radius: 8px;
    position: relative;
    text-align: start;
    width: 100%;

    input {
        cursor: pointer;
        border: none;
        padding: 50px 50px;
        width: 100%;
        color: var(--prymary-color);
    }

    img {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.total-container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0px 0.5px 5px var(--prymary-color);
    position: relative;
    background-color: white;
    height: 20vh;
    padding: 10px 20px;
    margin: 30px 15px;

    .total {
        display: flex;
        justify-content: space-between;
        
    }

    .garantia {
        position: absolute;
        border-radius: 8px !important;
        display: flex;
        width: 150px;
        height: 70px;
        border: solid var(--prymary-color);
        text-align: center;
        justify-content: center;
        align-items: center;
        bottom: 20px;
        right: 0;
        left: 0;
        margin: auto;
        border-color: rgba($color: #06007e, $alpha: 0.5)
    }
}

.btn-client {
    position: absolute;
    width: 80%;
    display: flex;
    padding: 10px 0px;
    border-radius: 10px;
    border: none;
    color: white;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;

    img {
        width: 20px;
        height: 20px;
    }
}