<div class="header">

    <img (click)="goToHome()" src="assets/esquerda.png" style="cursor: pointer;">
    <h1>Novo Orçamento</h1>

</div>

<div class="btn-container">
    <button (click)="goToClients()"><img src="assets/mais.png"> Cliente</button>
    <button (click)="goToServices()"><img src="assets/mais.png">Adicionar Serviços</button>  
    <button><img src="assets/mais.png">Adicionar produtos</button>
    <button><img src="assets/mais.png">Despesas Adicionais</button>

</div>

<div class="total-container">

    <div class="total">
        <p style="font-weight: bold;">Total</p>
        <p style="font-weight: bold;">R$ 0,00</p>
    </div>

    <div class="garantia">
        <p>Desconto<br>R$ 0,00</p>
    </div>

</div>

<div class="footer">

</div>