<app-header></app-header>

<div class="container">

    <div class="title">
        <img class="img-back" (click)="goToHome()" src="assets/left-white.png">
        <h1>Novo Orçamento</h1>

    </div>

    <div class="space" ></div>

    <button class="btn" (click)="goToClients()"><img src="assets/mais-blue.png"> Adicionar Cliente</button>
    <button class="btn" (click)="goToServices()"><img src="assets/mais-blue.png">Adicionar Serviços</button>

    <div class="observacoes">
        <input class="observacoes" type="text" value="Observações importantes" >
        <img src="assets/balao.png" alt="">
        
    </div>

    

</div>

<div class="total-container">

    <div class="total">
        <p style="font-weight: bold;">Total</p>
        <p style="font-weight: bold;">R$ 0,00</p>
    </div>

    <div class="garantia">
        <p>Desconto<br>R$ 0,00</p>
    </div>

</div>

<button class="btn-order" (click)="save()"><img src="assets/sum.png" alt="">Salvar</button>

<app-footer></app-footer>