.modal {
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 8px #333;
  border-radius: 30px;
  width: 70vw;
  height: 70vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  button {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 50px;
    width: 150px;
  }
}

.overlay {
  position: fixed;
  background: #000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: 1;
}

.menu-modal {
  background-color: rgb(35, 35, 109);
  width: 25%;
  border-radius: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha todos os elementos à esquerda */
  padding: 10px; /* Ajuste conforme necessário */
}

.menu-modal h1,
.menu-modal p {
  margin: 0 0 10px 0; /* Remove a margem padrão superior e inferior, ajustando a margem inferior */
  color: white; /* Ajuste a cor do texto conforme necessário */
}

.menu-modal h1 {
  font-size: 25px;
  margin-top: 10px;
}

.menu-modal p {
  margin-bottom: 30px;
}

.menu-modal img {
  display: block;
  width: 35px;
}

.menu-modal .line-container {
  width: 100%;
  display: flex;
  margin-left: 18px;
}

.menu-modal hr {
  width: 2px; /* Espessura da linha */
  height: 35px; /* Ajuste conforme necessário */
  background-color: white; /* Cor da linha */
  border: none;
  margin: 0;
  padding: 0;
}

