<div class="container">

    <div class="header">

        <h1>Orçamentos</h1>
        <img src="assets/mais-white.png" alt="">
    </div>
        
    
    
    <!-- Card 1 -->
    <div class="card">
        <div>
            <p>Total<br>Orçamentos</p>
            <h1>0</h1>
        </div>

        <hr>

        <div>
            <p>Total<br>Serviços</p>
            <h1>0</h1>
        </div>

        <hr>

        <div>
            <p>Total<br>Clientes</p>
            <h1>0</h1>
        </div>
    </div>

</div>

<div class="img-relogio">

    <img  src="assets/caixa.png" style="width: 60px; height: 50px;">

    <div class="text-relodio">
        <p style="font-weight: bold;">Lista de Orçamentos</p>
        <p>Você ainda não tem orçamentos <br>cadastrados</p>
    </div>

<button class="btn" (click)="goToOrder()"><img src="assets/sum.png" alt="">Criar novo Orçamento</button>

<div class="menu-container">

    <ul>
            <li class="items">
                <img src="assets/order-white.png">
                <p>Orçamentos</p>
            </li>

            <li class="items">
                <img src="assets/client-white.png">
                <p>Clientes</p>
            </li>

            <li class="items">
                <img src="assets/tool-white.png">
                <p>Serviços</p>
            </li>
    </ul>
</div>

<div class="footer">

    <ul>
        <li class="items">
            <img src="assets/menu.png">
            <p>Orçamentos</p>
        </li>

        <li class="items">
            <img src="assets/center.png">
            <p>Clientes</p>
        </li>

        <li class="items">
            <img src="assets/left-white.png">
            <p>Serviços</p>
        </li>
</ul>
</div>

</div>










