.img-home {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 25px;
    top: 15px;
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    position: absolute;
    display: flex;
    color: white;
    z-index: 1;
    justify-content: center;
    top: 20px;
    right: 0;
    left: 0;
}

.card {
    margin-top: 80px;
    padding: 0px 20px;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    cursor: pointer;

    hr {
        border: 0.1px solid var(--prymary-color);
        height: 70%;
        width: 0.1px;
        opacity: 0.2;
    }
}

.img-relogio {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    text-align: center;

    img {
        width: 50px;
        height: 50px;
    }
}

.btn {
    position: absolute;
    background-color: var(--prymary-color);
    color: white;
    width: 70%;
    display: flex;
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 120px;

    img {
        width: 25px;
        height: 25px;
    }
}

.menu-container {
    width: 100%;
    background-color: var(--prymary-color);
    position: fixed;
    bottom: -30px;
    left: 0;
    right: 0;
    
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 10px 80px;

        li {
            cursor: pointer;
        }
        
        p {
            color: white;
        }

        img {
            width: 20px;
            height: 20px;
        }
      }
  }

  