<app-header></app-header>


<img (click)="goToOrder()" class="img-home" src="assets/mais-white.png" alt="">

<div class="container">

    <h1 class="title" >Orçamentos</h1>

    <!-- Card -->
    <div class="card">
        <div class="card1">
            <p>Total<br>Orçamentos</p>
            <p>0</p>
        </div>

        <hr>

        <div>
            <p>Total<br>Serviços</p>
            <p>0</p>
        </div>

        <hr>

        <div class="card3">
            <p>Total<br>Clientes</p>
            <p>0</p>
        </div>
    </div>

</div>

<div class="img-relogio">

    <img  src="assets/caixa.png" style="width: 60px; height: 50px;">

    <div class="text-relodio">
        <p style="font-weight: bold;">Lista de Orçamentos</p>
        <p>Você ainda não tem orçamentos <br>cadastrados</p>
    </div>

<div class="menu-container">

    <ul>

            <li (click)="goToClient()" class="items">
                <img src="assets/client-white.png">
                <p>Clientes</p>
            </li>

            <li (click)="goToService()" class="items">
                <img src="assets/tool-white.png">
                <p>Serviços</p>
            </li>
    </ul>
</div>

</div>

<button class="btn" (click)="goToOrder()"><img src="assets/sum.png" alt="">Criar novo Orçamento</button>

<app-footer></app-footer>










