.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.title {
    position: absolute;
    display: flex;
    color: white;
    z-index: 1;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0px;


    h1 {
        color: white;
    }

    img {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 20px;
        top: 20px;
        cursor: pointer;
    }
}

.search {
    position: relative;
    text-align: start;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
        margin: -10px 0 !important; 
        padding: 0 !important; 
    }

    input {
        cursor:auto;
        border: none;
        background-color: white;
        color: var(--prymary-color);
        border-radius: 12px;
        padding: 15px 10px;
        width: 100%;

    }

    img {
        position: absolute;
        right: 2%;
        top: 70%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.cadastro {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 100px;
    
    button {
        width: 50%;
    }

    img {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    height: 50px;
    box-shadow: 0px 0.5px 3px var(--prymary-color);
    color: var(--prymary-color);
}

.img-cards {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 0;
    bottom: 0;
    cursor: pointer;

}



.content {
    position: absolute;
    bottom: 0;
}

.card {
    background-color: var(--prymary-color);
}
