<app-header></app-header>

<div class="container">

    <div class="title">

        <img (click)="goToOrder()" src="assets/left-white.png" style="cursor: pointer;">
        <h1>Lista de Clientes</h1>
    
    </div>

    <div class="search" >

        <h1>Consultar Clientes</h1>
        <input type="search" name="" placeholder="Pesquise um cliente" (input)="search($event)">
        <img src="assets/lupa.png" >
        
    </div>

    <div class="card border-primary p-2" (click)="addClient(i)"
        *ngFor="let c of clients; index as i" >

        <p class="text-light">{{c.nome}}</p>
        <img src="assets/editar.png" class="position-absolute end-0 bottom-0 m-3" 
        (click)="selectClient(i)">

    </div>

</div>


