<div class="header">

    <img (click)="goToHome()" src="assets/esquerda.png" style="cursor: pointer;">
    <h1>Novo Orçamento</h1>

</div>

<div class="clientes-container">

    <h1>Clientes</h1>

    <div class="search">
      <input type="search" name="" value="Digite para buscar">
      <img src="assets/lupa-white.png" alt="">
        
    </div>
    

    <div class="cadastro">
        <img src="assets/contact.png" style="width: 80px; height: 80px;">
        <p style="font-weight: bold;">Cadastro de Clientes</p>
        <p>Você ainda não tem clientes <br>cadastrados</p>

    </div>
    

    <button (click)="addClient()"> Adicionar Clientes</button>
</div>

<div class="footer">

</div>


