<app-header></app-header>

<div class="container">

    <div class="title">

        <img (click)="goToHome()" src="assets/left-white.png" style="cursor: pointer;">
        <h1>Clientes</h1>
    
    </div>

    <h1>Clientes</h1>

    <div class="search">
      <input type="search" name="" value="Digite para buscar">
      <img src="assets/lupa.png" alt="">
        
    </div>
    

    <div class="cadastro">
        <img src="assets/contact.png" style="width: 80px; height: 80px;">
        <p style="font-weight: bold;">Cadastro de Clientes</p>
        <p>Você ainda não tem clientes <br>cadastrados</p>

    </div>
    

    <button class="btn-clients" (click)="addClient()"> Adicionar Clientes</button>
</div>

<app-footer></app-footer>


