<app-header></app-header>

<div class="container">

        <div class="title">
    
            <img (click)="goToClient()" src="assets/left-white.png" style="cursor: pointer;">

            <h1>Adicionar Novo Cliente</h1>
        
        </div>

        <form>

        <p>Nome, Telefone, E-mail e CPF</p>
        <input placeholder="Qual o Nome do cliente?" type="text" name="nome" [(ngModel)]="client.nome">
        <input placeholder="Telefone com DDD" type="text" name="telefone" [(ngModel)]="client.telefone">
        <input placeholder="E-mail" type="text" name="email" [(ngModel)]="client.email">
        <input placeholder="CPF" type="text" name="cpf" [(ngModel)]="client.cpf">
    
        <div class="niver">
    
            <div class="img-bolo">
                <img src="assets/niver.png"> 
                <p>Aniversário</p> 
            </div>
    
            <input type="date" name="aniversario" [(ngModel)]="client.aniversario">
    
        </div>
    
        <p>Endereço</p>
        <input placeholder="CEP" type="text" name="cep" [(ngModel)]="client.cep">
        <input placeholder="Rua" type="text" name="rua" [(ngModel)]="client.rua">
    
        <span class="double">
            <input class="num" placeholder="Número" type="text" name="numero" [(ngModel)]="client.numero">
            <input placeholder="Complemento" type="text" name="complemento" [(ngModel)]="client.complemento">
        </span>
        
        <input placeholder="Bairro" type="text" name="bairro" [(ngModel)]="client.bairro">

        <div class="double">
        <input placeholder="Cidade" type="text" name="cidade" [(ngModel)]="client.cidade">
        <input class="uf" placeholder="Estado" type="text" name="estado" [(ngModel)]="client.estado">
        </div>
    
        <p>Observações</p>
        <input placeholder="Opcional" type="text" name="obs" [(ngModel)]="client.obs" >
    
        <button class="btn-salvar" (click)="postClient()"><img src="assets/sum.png" alt="">Salvar</button>
    
    </form>

</div>

<app-footer></app-footer>





