<app-header></app-header>

<div class="container">

        <div class="title">
    
            <img (click)="goToHome()" src="assets/left-white.png" style="cursor: pointer;">

            <h1>Adicionar Novo Cliente</h1>
        
        </div>

        <form>
            <!-- Informações do Cliente-->
             <legend class="">Informações do Cliente</legend>
            <div class="">
              <label  class="form-label">Nome</label>
              <input type="text" class="form-control">
            </div>
            <div class="">
              <label class="form-label">Telefone</label>
              <input type="text" class="form-control">
            </div>
            <div class="">
              <label  class="form-label">CPF</label>
              <input type="text" class="form-control">
            </div>
            <div class="">
              <label class="form-label">Email</label>
              <input type="text" class="form-control">
            </div>
            <div class="">
              <app-date></app-date>

            </div>
            <!-- Informações do Veiculo-->
            <legend class="mt-5">Informações do Veiculo</legend>
            <div class="">
                <label  class="form-label">Marca</label>
                <input type="text" class="form-control">
            </div>
            <div class="">
              <label class="form-label">Modelo</label>
              <input type="text" class="form-control">
            </div>
            <div class="">
              <label class="form-label">Ano</label>
              <input type="text" class="form-control">
            </div>
            <div class="">
                <label  class="form-label">Cor</label>
                <input type="date" class="form-control" >
            </div>
            <!-- Endereço-->
            <legend class="mt-5">Endereço</legend>
            <div class="">
                <label class="form-label">CEP</label>
                <input type="text" class="form-control">
            </div>
            <div class="">
                <label  class="form-label">Rua</label>
                <input type="text" class="form-control">
            </div>
            <div class="">
                <label class="form-label">Número</label>
                <input type="text" class="form-control">
            </div>
            <div class="">
                <label class="form-label">Bairro</label>
                <input type="text" class="form-control">
            </div>
            <div class="">
                <label  class="form-label">Cidade</label>
                <input type="text" class="form-control">
            </div>
            <div class="">
                <label class="form-label">Estado</label>
                <input type="text" class="form-control">
            </div>
            <div class="">
              <label class="form-label">Observações</label>
              <input type="text" class="form-control">
            </div>

            <button type="submit" 
              (click)="createClient()"
              class="btn btn-primary d-flex gap-3 justify-content-center mt-3">
              <img src="assets/sum.png">Salvar Cliente
            </button>

          </form>

</div>