<app-header></app-header>

<div class="container">

  <div class="title">

      <img (click)="goToClient()" src="assets/left-white.png" style="cursor: pointer;">

      <h1>Adicionar Novo Cliente</h1>
  
  </div>

  <form [formGroup]="form" (ngSubmit)="createClient()" class="needs-validation" novalidate>
    <div class="mb-3">
      <label  class="form-label">Nome</label>
      <input name="nome" id="name" type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid': form.get('name')?.invalid && form.get('name')?.touched}">
      <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="invalid-feedback">
        <small *ngIf="form.get('name')?.errors?.['required']">Adicione o Nome</small>
        <small *ngIf="form.get('name')?.errors?.['minlength']">Adicione um Nome Valido!</small>
      </div>
    </div>
  
    <div class="mb-3">
      <label  class="form-label">telefone</label>
      <input name="telefone"  
      id="telefone" 
      type="telefone" 
      class="form-control" 
      formControlName="telefone" 
      (input)="formatPhone($event)"
      placeholder="(00) 00000-0000"
      [ngClass]="{'is-invalid':form.get('telefone')?.invalid && form.get('telefone')?.touched}">
      <div *ngIf="form.get('telefone')?.invalid && form.get('telefone')?.touched" class="invalid-feedback">
        <small *ngIf="form.get('telefone')?.errors?.['required']">Adicione um Telefone</small>
        <small *ngIf="form.get('telefone')?.errors?.['minlength']">Formato Inválido</small>
      </div>
    </div>

    <div class="mb-3">
      <label  class="form-label">Carro</label>
      <input name="carro"  id="carro" type="text" class="form-control" formControlName="carro" [ngClass]="{'is-invalid': form.get('carro')?.invalid && form.get('carro')?.touched}">
      <div *ngIf="form.get('carro')?.invalid && form.get('carro')?.touched" class="invalid-feedback">
        <small *ngIf="form.get('carro')?.errors?.['required']">Adicione o Nome</small>
        <small *ngIf="form.get('carro')?.errors?.['minlength']">Adicione um Nome Valido!</small>
      </div>
    </div>
  
    <div class="mb-3">
      <label  class="form-label">Placa</label>
      <input name="placa"  id="placa" type="placa" class="form-control" formControlName="placa" [ngClass]="{'is-invalid': form.get('placa')?.invalid && form.get('placa')?.touched}">
      <div *ngIf="form.get('placa')?.invalid && form.get('placa')?.touched" class="invalid-feedback">
        <small *ngIf="form.get('placa')?.errors?.['required']">Adicione uma placa</small>
        <small *ngIf="form.get('placa')?.errors?.['minlength']">Formato Inválido</small>
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary d-flex gap-4 justify-content-center w-50 m-auto" [disabled]="form.invalid">
      <img src="assets/mais-white.png" alt=""> Salvar</button>
  </form>
</div>