

.title {
    position: absolute;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;

    h1 {
        color: white;
    }

    img {
        position: absolute;
        width: 20px;
        height: 20px;
        cursor: pointer;
        left: 10px;
        top: 20px;
    }
}

form {
    margin-top: 50px;
}

input {
    margin: 10px 0px;
    width: 100%;
    padding: 20px 20px;
}

.btn-salvar {
    width: 50%;
    display: flex;
    padding: 10px 0px;
    border-radius: 10px;
    border: none;
    color: white;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px auto 80px auto;
    margin-bottom: 80px;

    img {
        width: 20px;
        height: 20px;
    }
}

