<app-header></app-header>

<div class="container" *ngIf="client">

        <div class="title">
    
            <img (click)="goToClient()" src="assets/left-white.png" style="cursor: pointer;">

            <h1>Editar Cliente</h1>
        
        </div>

        <form (ngSubmit)="updateClient()" >

        <label>Nome</label>
        <input type="text" name="nome" [(ngModel)]="client.nome">
        <label>Telefone</label>
        <input type="text" name="telefone" [(ngModel)]="client.telefone">
        <label>Carro</label>
        <input type="text" name="carro" [(ngModel)]="client.carro">

        <div class="btn-edit">
            <button class="btn btn-primary" type="submit" >
                <img src="assets/sum.png" alt="">Salvar
            </button>
            <button class="btn btn-danger" type="button" (click)="openConfirmDeleteModal()" >
                <img src="assets/sum.png" alt="">Deletar
            </button>

        </div>

        <app-modal [client]="client" ></app-modal>
    
    </form>

</div>