// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

@import 'ngx-toastr/toastr';



:root {
    --prymary-color: #01036D;
    --text-color: dimgray;
    --secundary-color: #00B4D8;
    --bg: aliceblue;
}

img {
    width: 20px;
    height: 20px;
}

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

h1 {
    font-size: 1.5rem !important;
}

p {
    color: var(--prymary-color);
}

button {
    color: white;
    background-color: var(--prymary-color);
    box-shadow: 0px 0.5px 3px var(--prymary-color);
    border: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-shadow: 0px 0.5px 5px var(--prymary-color);
}

.modal {
    background: rgba(0, 0, 0, 0.5); 
  }
  .modal-backdrop {
    display: none;
  }
