// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

@import 'ngx-toastr/toastr';



:root {
    --prymary-color: #01036D;
    --text-color: dimgray;
    --secundary-color: #00B4D8;
    --bg: aliceblue;
}

img {
    width: 20px;
    height: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

h1 {
    font-size: x-large;
    color: var(--prymary-color);
}

p {
    font-size: medium;
    color: var(--prymary-color);
}

button {
    color: white;
    background-color: var(--prymary-color);
    box-shadow: 0px 0.5px 3px var(--prymary-color);
    border: none;
}

input {
    border: none;
    box-shadow: 0px 0.5px 5px var(--prymary-color);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}