<div class="sidebar">

    <div class="content">

        <ul class="items-container" >
                <li class="side-items active">
                    <img class="icon" src="assets/casa.png" alt="">
                    <p>Início</p>
                </li>

                <li class="side-items">
                    <img class="icon" src="assets/clientes.png" alt="">
                    <p>Clientes</p>
                </li>

                <li class="side-items">
                    <img class="icon" src="assets/pedido.png" alt="">
                    <p>Orçamentos</p>
                </li>
        </ul>
</div>
