
.icon {
    width: 17px;
    height: 17px;
}

.sidebar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px 50px;
}

.items-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.side-items {
  text-align: center;

  p {
    margin-top: -6px;
  }
}







  