<div class="menu-container">

    <h1>Order Service</h1>

    <ul class="items-container">
        <li class="side-items active">
            <img class="icon" src="assets/dashboard.png" alt="">
            <span>Dashboard</span>
        </li>

        <li class="side-items">
            <img class="icon" src="assets/contact.png" alt="">
            <span>Clientes</span>
        </li>

        <li class="side-items">
            <img class="icon" src="assets/clipboard.png" alt="">
            <span>Orçamentos</span>
        </li>

        <li class="side-items">
            <img class="icon" src="assets/premium.png" alt="">
            <span>Premium</span>
        </li>

        <li class="side-items">
            <img class="icon" src="assets/settings.png" alt="">
            <span>Configurações</span>
        </li>

    </ul>



</div>
