<div class="menu-container">

    <h1>Order Service</h1>

    <div class="btn-group">
        <img style="width: 20px; height: 20px;" src="assets/dashboard.png" alt="Icone 1" class="icon">
        <button class="btn">Dashboard</button>
    </div>

    <div class="btn-group">
        <img src="assets/contact.png" alt="Icone 2" class="icon">
        <button class="btn">Clientes</button>
    </div>

    <div class="btn-group">
        <img src="assets/stocks.png" alt="Icone 3" class="icon">
        <button class="btn">Analise</button>
    </div>

    <div class="btn-group">
        <img src="assets/clipboard.png" alt="Icone 4" class="icon">
        <button class="btn">Orçamentos</button>
    </div>

    <div class="btn-group">
        <img src="assets/premium.png" alt="Icone 5" class="icon">
        <button class="btn">Premium</button>
    </div>

    <div class="btn-group">
        <img src="assets/settings.png" alt="Icone 6" class="icon">
        <button class="btn">Configurações</button>
    </div>

</div>
