<div class="form-header">
    <img (click)="goToHome()" src="assets/chevron-left.png" alt="">
    <h1>Adicionar Orçamento</h1>
</div>

<div class="cadastrar">
    <img src="assets/mais.png" alt="">
    <i><p>Cadastrar Serviço</p></i>
</div>

<div>

    <form class="form">
        <input placeholder="Qual o Serviço?" class="servico" type="text" >
        <input placeholder="Detalhes (opcional)" class="detalhes" type="text" >
        <input placeholder="Preço Unitário" class="preco" type="value">
        <input placeholder="Qauntidade" class="quantidade" type="number" value="1">

        <div class="total">
        <p>Valor</p>
        <p>R$</p>
        </div>

    </form>

<div class="add-order">

    <span class="check"><input type="checkbox" ><p>Salvar serviço no catálogo</p></span>
    <input class="btn-submit" type="submit">

    

</div>

<app-menu></app-menu>



</div>


